@model OfficeProject.Models.Contact

<h1>Edit Contact</h1>
<hr />
<form asp-action="Edit" method="post">
    <div class="form-group">
        @Html.Label("Name")
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        @Html.Label("Email")
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        @Html.Label("City")
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        @Html.Label("Skills")
        <div class="col-md-10">
            @foreach (var skill in new List<string> { "C#", "JavaScript", "Java", "Python" })
            {
                var isChecked = Model.Skills != null && Model.Skills.Contains(skill) ? "checked" : "";
                <label class="checkbox-inline">
                    <input type="checkbox" name="Skills" value="@skill" @isChecked /> @skill
                </label>
            }
            <span asp-validation-for="Skills" class="text-danger"></span>
        </div>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-outline-success">Edit</button>
        <a asp-action="Index" asp-controller="Contact" class="btn btn-outline-primary ms-2">Back</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
